body{
    font-family: 'Balsamiq Sans';
}
.barra{
    border: 1px solid black;
    text-align: start;
    width: 570px;
    color: white;
    background-color: black;
    padding-left: 20px;
}
.linea1{
    text-align: center;
    width: 570px;
}
.Cuerpo{
    display: flex;

}
/* lado izquierdo*/
.colum1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    text-align: center;
    border: 3px solid black;
    height: 200px;
    
}
.imagen{
    width: 50px;
    align-content: center;
}
.colum1 > div{
    padding-top: 20px;
    padding-bottom: 10px;
}
/* lado derecho*/

.cuadro , .cuadro1, .cuadro2{
    border: 3px solid black; 
    width: 350px; 
    margin-left: 20px;
    margin-bottom: 20px;
}

.arriba{
    display: flex;
    justify-content: space-evenly ;
    padding: 15px ;
    padding-top: 10px;
}
.titulo,.numlikes, .numlikes1 , .numlikes2{
    margin-top: 10px;
}
.abajo{
    text-align: justify;
    padding: 25px;
    padding-top: 5px;
}
.Like,.Like1, .Like2{
    font-family: 'Balsamiq Sans';
    border: 3px solid black;
    background-color: rgb(219, 219, 113);
    padding: 2px;
    font-size: 17px;
    
   
}